html {
    overflow-x: hidden;
}
body {
    font-family: 'Lato', 'Roboto', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: linear-gradient( rgba(0,0,0,.7) 0%, transparent 30%),
    radial-gradient(110% 55% at 50% 80%, rgba(0, 0, 0, 0.00) 0%, rgba(11, 26, 32, 1) 100%),
        linear-gradient(90deg, rgba(3, 7, 8, 1) 0%, rgba(3, 7, 8, 0.25) 10%, rgba(3, 7, 8, 0.00) 20%, rgba(3, 7, 8, 0.00) 80%, rgba(3, 7, 8, 0.25) 90%, rgba(3, 7, 8, 1) 100%),
        
        radial-gradient(60% 8% at 50% 58%, #84cde5 0%,   #467B8D 50%, #1D4451 80%, rgba(29, 68, 81, 0.54) 100%),
        #011e29;
    background-attachment: fixed;
}

.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 65px;
    justify-content: center;
    background-color: #121212;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3), inset 0 6px 8px -4px rgba(65, 107, 121, 0.25);*/
    padding: 10px 0;
    z-index: 16;
}

.nav-item {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    max-width: 80px;
}

.nav-item img {
    display: block;
    margin: 0 auto 6px auto;
    width: 24px;
    height: 24px;
}

.nav-item span {
    display: block;
    margin-top: 3px;
    font-size: 13px;
    font-weight: 400;
}

.nav-item.active {
    background: radial-gradient(ellipse 50% 10% at 50% 88%, rgba(60, 128, 151, .75), transparent)
}

.nav-item.active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left: calc(50% - 25px);
    height: 2px;
    width: 50px;
    background-color: rgba(55, 207, 255, 0.60);
}

.nav-item.active img {
    filter: brightness(1.5);
}

.pcr-app.custom-class {
    display: none;
}


.pcr-app.custom-class.visible {
    position: absolute;
    padding: 8px !important;
    /* top: unset !important;
    bottom: 220px !important;*/
    max-height: 169px;
    max-width: 380px;
    height: 169px;
    right: 0;
    width: 80%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 8px;
    grid-template-areas:
        "Selection Pallet"
        "Selection Hex";
    box-shadow: 0 20px 40px 4px rgba(0, 0, 0, .3), inset 0 -4px 6px 1px rgba(0, 0, 0, .1);
}


.pcr-app.custom-class .pcr-selection {
    grid-area: Selection;
    max-height: 220px;
}

.pcr-app.custom-class .pcr-swatches {
    padding: 0 !important;
    margin: 0 !important;
    grid-area: Pallet;
}


.pcr-app.custom-class .pcr-interaction {
    grid-area: Hex;
    max-height: 40px;
}


.pcr-app.custom-class .pcr-interaction .pcr-result {
    border: 1px solid #ddd;
}


.pcr-app.custom-class .pcr-interaction:after {
    display: block;
    content: "HEX";
    position: absolute;
    bottom: 32px;
    right: 30px;
    color: rgba(0, 0, 0, .23);
    font-size: 16px;
    font-weight: bold;
}

.pcr-app.custom-class .pcr-interaction .pcr-type.active {
    display: none;
}

.pcr-app.custom-class .pcr-color-chooser {
    height: 1.5em !important;
}

.pcr-app[data-theme=nano] .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app[data-theme=nano] .pcr-selection .pcr-color-preview .pcr-current-color {
    border-radius: 4px !important;
}

.drag-handle {
    display: none
}



.content-container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 80px;
    padding-bottom: 80px;
    z-index: 1;
    pointer-events: none;
}

.content-container * {
    pointer-events: all;
}

.content-container .model-overlay {
    pointer-events: none;
}

.logo-container {
    position: absolute;
    left: calc(50% - 30px);
    max-height: 60px;
    margin: 16px auto 0;
}

.logo {
    max-width: 60px;
    margin: 0;
    padding: 0;
    border-radius: 4px;

}

#productTitle {
    color: rgba(255, 255, 255, 0.60);
    text-shadow: 0px 1px rgba(3, 79, 102, 0.6);
    background: radial-gradient(ellipse 20% 20% at 50% 55%, rgba(2, 60, 80, 0.75), transparent);
    font-family: "Orbitron", monospace, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.right-top {

    position: absolute;
    right: 0;
    width: 50px;
    margin: 16px 16px 0 0;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;

}

.right-top:hover,
.right-top:active {
    background-color: #142C3A;
}

.right-top img {
    height: 60%;
    width: 60%;
}

.mobile-header {
    position: fixed;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 90px;
}

.back-button {
    position: absolute;
    margin: 16px 0 0 16px;
    background-color: transparent;
    border: none;
    padding: 0px 16px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-size: 16px;
    height: 44px;
    cursor: pointer;
}

.back-button:hover,
.back-button:active {
    background: rgba(255, 255, 255, 0.2);
}



.model-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: auto;
}

.model-overlay {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.product-title {
    font-size: 1.3rem;
    margin: 10px;
    padding: 10px;
}
#hideOptions{ display:none}

#optionsContainer {
    display: block;
    flex-direction: column;
    text-align: left;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    min-height: 155px;
    /* Hide overflow to avoid scrollbars during the transition */
    /* width: 100%; */
}

.fab {
    border-radius: 6px;
    background: linear-gradient(150deg, #c9fbe3, #64cb99);
    color: #0a270f;
    font-weight: 400;
    box-shadow: 0px 2px 56px 0px rgba(0, 0, 0, 0.15), 0px 0px 50px 0px rgba(0, 0, 0, 0.20) inset;
    padding: 10px 20px;
    position: relative;
    right: 20px;
    height: 20px;
    min-width: 90px;
    margin-left: auto;
    display: none;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    max-width: 100px;
    /* Ensure it is above other elements */
}

.fab:hover {
    background-color: #f8ad66;
    box-shadow: 0px -1px 10px 2px rgba(255, 255, 255, 0.40) inset, 0px 5px 56px rgba(0, 0, 0, 0.45);
    color: #271103;
}

#editDesignBtn {
    position: fixed;
    bottom: 360px;
    left: 20px;
    z-index: 1000;
    display: flex;
}

.mobile-header,
.second-level-nav,
#optionsContainer,
nav {
    z-index: 1;
    /* Ensure these elements are above the container */
}


.home-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container .content-box p,
.home-container .content-box li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;
    color: rgba(255, 255, 255.9);
}

.home-container .content-box li {
    margin: 0 0 0 0;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    text-align: center;
}

.subtitle {
    text-align: center;
    margin: 0;
    color: #03c2db;
}

.home-container .content-box h4 {
    margin: 16px 0 0 0;
    color: #db5b03;
}

.content-box {
    margin: 10px auto;
    padding: 0 16px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

.bulletList {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.bulletList li {
    margin-bottom: 12px;
}

.button-group {
    margin-top: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #027281;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #023b42;
}

.designs-container {
    padding: 0px;
    text-align: left;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    z-index: 2;
    position: absolute;
    height: 250px;
    max-height: 250px;
    overflow-y: auto;
    bottom: 80px;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(23, 38, 44, 0.5);
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 10px -5px rgba(39, 198, 226, 0.8);
}

.designs-container.no-designs {
    display: none;
}


.design-item,
.upload-item {
    font-size: 18px;
    color: #fff;
    display: flex;
    /* Use Flexbox */
    align-items: center;
    /* Align items vertically */
    gap: 16px;
    /* Add spacing between thumbnail and text */
    padding: 12px 32px;
    background: rgba(29, 45, 48, 0.2);
    border-bottom: 1px solid rgba(15, 124, 187, 0.2);
    box-shadow: inset 0px -6px 15px 2px rgba(0, 0, 0, 0.3), inset 0px 0px 10px 0px rgba(39, 198, 226, 0.1);
}

.design-item .style-name {
    display: flex;
    width: 100%;
}

.design-item .remove-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 16px;
    max-width: 16px;
    padding: 8px 11px;
    cursor: pointer;
    border: 1px solid rgba(255, 0, 0, 0.397);
    background: rgba(180, 11, 11, 0.404);
    border-radius: 8px;
}

.design-item .download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    max-height: 40px;
    max-width: 40px;
    padding: 8px 8px;
    cursor: pointer;
    border: 0px solid rgba(255, 255, 255, 0.575);
    background: transparent;
    border-radius: 8px;
}

.download-button img {
    color: #fff;
    max-height: 18px;
    max-width: 18px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    /* Change the color here */

}


.upload-item .upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 44px;
    width: 100%;
    color: #fff;
    padding: 12px 16px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.575);
    background: rgba(36, 193, 233, 0.514);
    border-radius: 8px;
    margin-bottom: 8px;
}


.design-item .thumbnail {
    height: 44px;
    width: 44px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(84, 143, 165) 0.09%, rgb(5, 60, 73) 70.46%, rgb(1, 21, 26) 100%), #292929;
    border: 0px solid rgba(255, 255, 255, .25);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    /* Prevent the thumbnail from shrinking */
}

.contact-container {
    max-width: 600px;
    width: 80%;
    margin: 20px auto;
    background: rgba(15, 24, 23, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.inputfield,
.button {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.inputfield {
    background: rgba(255, 255, 255, 0.7);
    color: #666;
}

.inputfieldinput:focus,
.inputfield:focus {
    outline: 2px solid #528698;
    color: #222;
}

.second-level-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    background-color: #142C3A;
    /* border-top: 1px solid #333; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    position: relative;
    height: 32px;
    z-index:5;
}


.second-level-nav:before,
.second-level-nav:after {
    font-size: 11px;
    padding: 4px 20px;
    display: block;
    width: auto;
    height: 18px;
    background-color: #142C3A;
    position: absolute;
    top: -16px;
    z-index: -1;
    border-radius: 16px 16px 0 0;
    border-top: 0px solid #333;
    -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 60%, 100% 100%, 0% 100%, 0% 60%);
    clip-path: polygon(15% 0%, 85% 0%, 100% 60%, 100% 100%, 0% 100%, 0% 60%);
}

.second-level-nav:before {
    content: "Coats";
    left: calc(25% - 26px);
}

.second-level-nav:after {
    content: "Options";
    right: calc(25% - 26px);
}

.nav-tab {
    padding: 0;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    transition: background-color 1s, box-shadow 0.3s, color 0.2s;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    max-width: 90px;
    box-shadow: 0 0 20px 2px rgba(55, 207, 255, 0.0);
}

.nav-tab.active {
    background-color: #37CFFF;
    box-shadow: 0px 0px 8px 0px rgba(55, 207, 255, 0.80);
    color: #1E1E1E;
}

.vert-rule {
    display: block;
    position: relative;
    top: -12px;
    width: 2px;
    margin: 0;
    height: calc(100% + 2rem);
    background: rgba(0, 0, 0, 0.50);
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 10px;
    padding: 10px;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    background: #141419;
    box-sizing: border-box;
    cursor: grab;
}



.carousel::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */

}

.carousel.active,
.custom-content.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    user-select: none;
    /* Disable text selection in supported browsers */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 72px;
    margin-right: 6px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}

.carousel-item img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60px;
    height: auto;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}

.carousel-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 4px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    height: 2em;
    width: 100%;

    text-align: center;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Custom content */
.custom-content {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    justify-content: flex-start;
    /* Center the swatches */
    pointer-events: auto;
    cursor: grab;

}

.color-container {
    position: relative;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 8px;
    width: 100%;
    padding: 4px 8px;

    border-radius: 10px;
    /* Add spacing between containers */
    min-width: 60px;
}

.color-swatch {
    width: 50px;
    /* Use consistent width for easier centering */
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    margin-bottom: 4px;
    /* border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 6px 8px 0px rgba(255, 255, 255, 0.25) inset, 0px -16px 8px 0px rgba(0, 0, 0, 0.15) inset; */
    /* box-shadow:inset 0px 0px 10px 6px rgba(0, 0, 0, 0.25), inset -8px -8px 16px 3px rgba(0, 0, 0, 0.5);
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%); */
    /* clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%); */
    /* background-image: radial-gradient(circle at 25% 35%, rgba(255, 255, 255, .5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), radial-gradient(circle at 80% 25%, rgba(255, 255, 255, .4) 0%,  rgba(255, 255, 255, 0) 50%); */
    background: radial-gradient(circle at 30% 30%, rgba(255, 245, 235, 0.8) 0%, rgba(255, 245, 235, 0.3) 15%, transparent 50%),
        radial-gradient(circle at 60% 25%, rgba(240, 240, 250, 0.6) 0%, rgba(240, 240, 250, 0.3) 10%, transparent 40%),
        radial-gradient(circle at 50% 50%, transparent, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 80%);
    background-blend-mode: hard-light;
    box-shadow: 3px 6px 8px 2px rgba(0, 0, 0, .05), inset 0px 0px 9px 5px rgba(0, 0, 0, 0.15), inset -7px -7px 14px 3px rgba(0, 0, 0, 0.25);
}

.color-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 4px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    height: 2em;
    width: 100%;

    text-align: center;
    padding: 2px 4px;
    border-radius: 4px;
}



.visuals-content {
    /* display: none; */
    flex-direction: column;
    padding: 20px;
    background-color: #141419;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.visuals-content.active {
    display: flex;
}


.info-icon {
    display: block;
    cursor: pointer;
    margin-left: 24px;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: " ";
    background-image: url("/images/info.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    align-self: stretch;
}

.slider-container label {
    display: block;
    margin-top: 8px;
    color: #fff;
}

.slider-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.slider-container input[type="range"] {
    max-width: 220px;
    margin-bottom: 0;
    margin-right: 16px;
    border-radius: 0;
    color: #37CFFF;
    background-color: #5A5A5E;
}

/* Style the track */
.slider-control input[type="range"] {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 18px;
    background: linear-gradient(to right, #37CFFF 0%, #37CFFF var(--value), #5A5A5E var(--value), #5A5A5E 100%);
    outline: none;
    transition: opacity .2s;
    border-radius: 6px;
}

.slider-control input[type="range"]::-webkit-slider-runnable-track {
    height: 18px;
    /* Adjust the height as needed */
    background: transparent;
    /* Track is transparent, fill is handled by the input background */
    border: none;
    border-radius: 3px;
}

.slider-control input[type="range"]::-moz-range-track {
    height: 18px;
    /* Adjust the height as needed */
    background: transparent;
    /* Track is transparent, fill is handled by the input background */
    border: none;
    border-radius: 3px;
}

/* Style the thumb (handle) */
.slider-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    position: relative;
    top: -2px;
    width: 24px;
    /* Adjust the width as needed */
    height: 24px;
    /* Adjust the height as needed */
    background: #fff;
    /* Custom handle color */
    cursor: pointer;
    border-radius: 6px;
    /* Make the handle round */
    border: 2px solid #fff;
    /* Border color */
}

.slider-control input[type="range"]::-moz-range-thumb {
    width: 20px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    background: #fff;
    /* Custom handle color */
    cursor: pointer;
    border-radius: 50%;
    /* Make the handle round */
    border: 2px solid #37CFFF;
    /* Border color */
}



#battle-damage-value,
#finishing-quality-value {
    display: flex;
    margin-top: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 0 10px 0 0;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: right;
    justify-content: flex-end;
}


.slider {
    margin: 0 10px;
    flex: 1;
}

.value-display {
    min-width: 100px;
    text-align: left;
}

/* Add-ons content */
.addons-content,
.visuals-content,
.presets-content,
.custom-content {
    padding: 12px 24px 30px 16px;
    background-color: #141419;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 4px 8px -4px rgba(25, 124, 163, 0.5);
    margin-top: 20px;
    z-index: 1;
    /* display: none; */
}

.addons-content,
.visuals-content {
    flex-direction: column;
}

.presets-content {
    display: flex;
    flex-direction: row;
}

.addons-content.active {
    display: flex;
}

.addon-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
    flex-direction: row;
    row-gap: 60px;
}

/* Hide default checkbox */
.addon-item input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.addon-item .info-icon {
    margin-left: 16px;
}

/* Create switch */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 32px;
    margin-right: 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    flex: 1 1 auto;
}

.track {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666;
    transition: .4s;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.track:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 2px;
}

/* Checked state */
input:checked+.track {
    background-color: #37CFFF;
    border-color: #37CFFF;
}

/* Move the toggle to the right when checked */
input:checked+.track:before {
    transform: translateX(20px);
}

input:checked+.track:after {
    content: " ";
    position: absolute;
    display: block;
    color: #01789D;
    right: 1px;
    top: 2px;
    bottom: 0;
    width: 24px;
    height: 24px;
    background-image: url(../images/check.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.addon-item label {
    color: #fff;
    font-weight: 500;

}





/* Bottom sheet */
.bottom-sheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    /* Hide initially */
    height: 50%;
    padding-bottom: 30px;
    overflow-y: auto;
    max-height: 450px;
    /* Adjust height as needed */
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 0 0;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
    background: linear-gradient(175deg, #529BB1 0.67%, #142C3A 80%);
    z-index: 14;
    box-shadow: 0px -14px 8px 0px rgba(0, 0, 0, 0.50);
    /* Ensure it's above other elements */
}

.bottom-sheet-content {
    padding: 20px;
    margin-top: 28px;
    overflow-y: auto;
    /* Add scroll if content overflows */
    color: #fff;

}

.bottom-sheet-content h1 {
    margin-left: 20px;
    text-align: left;
    text-shadow: rgba(0, 0, 0, .6) 1px 1px;
}

.bottom-sheet.show {
    bottom: 0;
    /* Slide up to reveal */
}


#battleDamageBG {
    position: absolute;
    top: 1px;
    border-radius: 19px 0 0 0;
    width: 200px;
    left: 1px;
    opacity: 1;
    height: 110px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .8)), url(/images/info/damage.png);
    mask-image: linear-gradient(transparent 40%, black);
    -webkit-mask-image: linear-gradient(90deg, black 40%, transparent 100%);
    z-index: -1;
}

/* Info icons */
.info-icon {
    cursor: pointer;
    color: #007bff;
    margin-left: 5px;
    min-width: 20px;
}

.close-btn {

    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.close-btn:after {
    content: "close";
    font-family: 'Material Icons';
    height: 32px;
    width: 32px;
    color: #fff;
    display: inline-block;
}

.scrim {
    position: fixed;
    top: calc(100vh - 300px);
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, black);
    z-index: 999;
    display: none;
    pointer-events: auto;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

.bottom-sheet.show~.scrim {
    display: block;
}

#catProductContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color:#000; */
    border: none;
    padding: 0;
    gap:44px;
    margin: 24px;
    /* width:80px; */
    /* height:80px; */
}

#catProductContainer h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 0;
    border-bottom:1px solid rgba(255,255,255,.3);
}

.productButtons {
    display: flex
;
    flex-wrap: wrap;
    gap: 16px;
}

.catProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .0);
    border: none;
    padding: 4px;
    margin: 0;
    width: 100px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.catProduct:disabled {
    opacity:.6;
    cursor:default;
}

.catProduct img {
    width: 100%;
    pointer-events: none;
    border-radius: 50%;
    margin: 4px;
    border:2px solid rgba(255, 255, 255, .3);
    box-shadow: 0 2px 16px 2px  rgba(0, 0, 0, 0.4);
}


/* PICKR CUSTOMIZATIONS */

.color-container .pickr {
    position: absolute;
    top: 0;
    /* left:0; */
    right: 0;
    bottom: 0;
    width: 100%;
}


.pcr-app {
    background-color: #222;
    /* Dark background */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
    /* Subtle shadow */
    color: #fff;
    /* White text */
}

/* Adjusting the color preview ring */
.pcr-color-preview {
    border: 2px solid #333;
    /* Darker border around the color ring */
    border-radius: 50%;
    /* Circular preview like in the image */
}

/* Predefined color swatches */
.pcr-swatches .pcr-swatches-row .pcr-swatches-item {
    border-radius: 50%;
    /* Circular swatches */
    width: 30px;
    height: 30px;
    margin: 5px;
    /* Space between swatches */
}

/* Save button customization */
.color-container .pickr .pcr-button {
    background-color: transparent !important;
    /* Bright save button */
    opacity: 0;
    color: transparent;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.pcr-button:hover {
    background-color: #FF7043;
    /* Lighter shade on hover */
}


.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette .pcr-palette {
    border-radius: 6px 6px 0 0;
}

.pcr-app[data-theme="nano"] {
    width: 14.25em;
    border-radius: 8px;
}

.pickr input:focus,
.pickr input.pcr-active,
.pickr button:focus,
.pickr button.pcr-active,
.pcr-app input:focus,
.pcr-app input.pcr-active,
.pcr-app button:focus,
.pcr-app button.pcr-active {
    box-shadow: none !important;
}

.pcr-app .pcr-swatches>button {
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, .25) !important;
    border-radius: 2px !important;
}

.pickr .pcr-button::after {
    border: 1px solid rgb(0 0 0 / 30%);
    border-radius: 50% !important;
}

.pickr .pcr-button::before {
    border-radius: 50% !important;
    border: 1px solid #333;
    box-sizing: border-box;
    box-shadow: 1px 3px 5px rgb(0 0 0 / 20%);
}



/* ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
        z-index: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
        z-index: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
        z-index: 4;
    }

    50% {
        transform: translateY(100%);
        opacity: 0;
        z-index: 4;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        z-index: 4;
    }
}

.slide-out {
    animation: slideOut 0.25s forwards;
    z-index:1;
}

.slide-in {
    animation: slideIn 0.35s forwards;
    z-index:1;
}

#customDisclaimer {
    padding: 10px;
    margin: 10px;
}





@media only screen and (min-width: 1024px) {

    #optionsContainer {
        position: absolute;
        left: 0px;
        top: 180px;
        width: auto;
        max-width: 290px;
        max-height: calc(100vh - 340px);
        overflow-y: auto;
        height: auto;
        padding: 0;
        bottom: 70px;

    }

    #presetsContent {
        flex-wrap: wrap;
        height: auto !important;

        background: transparent;
        box-shadow: none;
        margin-left: 10px;
        justify-content: flex-start;
        justify-self: flex-start;
        padding: 0 0px 60px 0px;

    }

    #presetsContent.carousel {
        cursor: default;
    }

    #presetsContent .carousel-item:hover {
        cursor: pointer;
    }

    #customContent {
        flex-wrap: wrap;
        height: auto;
        background: transparent;
        box-shadow: none;
        padding: 0 0 60px 0;
        display: none;
        margin-left: 10px;
    }

    .color-swatch {
        border: 1px solid rgba(255, 255, 255, .3);
        margin-bottom: 4px;
    }

    .carousel-item,
    .color-container {
        border: none;
        border-radius: 10px;
        margin: 0;
        height: 100px;
        min-width: 70px;
        width: 70px;
        background: transparent;
        padding: 4px 8px;
    }

    #visualsContent {
        display: block !important;
        position: absolute;
        right: 0;
        margin-right: 20px;
        background: transparent;
        box-shadow: inset 0 0 25px 3px rgba(255, 255, 255, .05), 0 2px 22px rgba(0, 0, 0, .1);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        border-radius: 20px;
        min-width: 280px;
        padding-bottom: 8px;
    }

    #addonsContent {
        display: block !important;
        position: absolute;
        right: 0;
        margin-right: 20px;
        background: transparent;
        box-shadow: inset 0 0 25px 3px rgba(255, 255, 255, .05), 0 2px 22px rgba(0, 0, 0, .1);
        top: 280px;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        border-radius: 20px;
        min-width: 280px;
        padding-bottom: 0px;
    }

    .second-level-nav {
        position: absolute;
        width: 270px;
        background: transparent;
        border: none;
        margin-top: 40px;
        box-shadow: none;
        justify-content: center;
        height: auto;
    }

    .nav-tab {
        text-transform: uppercase;
        border: 1px solid rgba(255,255,255,.4);
        max-height: 44px;
        padding: 10px 16px;
        max-width: none;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    .nav-tab.active {
        background: #fff;
        padding: 16px 16px;
        position: relative;
        top: -3px;
        max-height: 52px;
        border-radius: 5px !important;
    }

    .nav-tab:nth-of-type(odd) {
        border-radius: 5px 0 0 5px;
    }

    .nav-tab:nth-of-type(even) {
        border-radius: 0 5px 5px 0;
    }

    .vert-rule,
    .second-level-nav:before,
    .nav-tab[data-content="visuals"],
    .nav-tab[data-content="addons"] {
        display: none;
    }

    .second-level-nav:after {
        content: "Coats";
        left: 40px;
        background: none;
        font-size: 14px;
    }

    label {
        font-size: 14px;
        font-weight: normal;
    }

    #optionsContainer,
    #designsContainer {
        margin-top: 20px;
        scrollbar-width: thin;
        border-radius: 20px;
        scrollbar-width: 6px;
        box-shadow: inset 0 0 25px 3px rgba(255, 255, 255, .05), 0 2px 22px rgba(0, 0, 0, .1);
        scrollbar-color: rgba(255, 255, 255, .25) rgba(255, 255, 255, 0);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        margin-left: 20px;
    }

    /* Scrollbar width */
    #optionsContainer::-webkit-scrollbar,
    #designsContainer::-webkit-scrollbar {
        width: 6px;
        background: rgba(255, 255, 255, 0);
    }

    /* Scrollbar track (rail) */
    #optionsContainer::-webkit-scrollbar-track,
    #designsContainer::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0);
        /* White with 10% opacity */
        border-radius: 50px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0);
        border: 0px solid #ccc;
    }

    /* Scrollbar handle */
    #optionsContainer::-webkit-scrollbar-thumb,
    #designsContainer::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .25);
        /* Fully opaque white */
        border-radius: 50px;
        width: 4px;
        border-radius: 10px;
        background: linear-gradient(left, rgba(255, 255, 255, .25), #e4e4e4);
        border: 0px solid #aaa;
    }

    #optionsContainer::-webkit-scrollbar-thumb:hover,
    #designsContainer::-webkit-scrollbar-thumb:hover {
        background: #ffffff !important;
    }

    #optionsContainer::-webkit-scrollbar-thumb:active,
    #designsContainer::-webkit-scrollbar-thumb:active {
        background: #ffffff !important;
    }

    #optionsContainer::-webkit-scrollbar-button,
    #designsContainer::-webkit-scrollbar-button {
        display: none;
    }

    #battle-damage-value,
    #finishing-quality-value {
        background: rgba(255, 255, 255, .2);
        padding: 6px 8px;
        font-size: 14px;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid #0e506450
    }

    .navbar-bottom {
        top: 0;
        width: 50vw;
        max-width: 700px;
        min-width: 560px;
        height: 60px;
        margin: 0 25vw;
        background: linear-gradient(#0e5064 0%, #1A3948 80%);
        border: 0;
        -webkit-clip-path: url(#myClip);
        clip-path: url(#myClip);
        justify-content: center;
    }

    .logo-container {
        position: absolute;
        left: unset;
        right: 40px;
        top: calc(100vh - 130px);
    }

    .logo {
        max-width: 80px;
    }

    .back-button {
        left: 140px;
        margin-top: 32px
    }

    body {
        background: linear-gradient( rgba(0,0,0,.7) 0%, transparent 30%), 
        radial-gradient(110% 55% at 50% 80%, rgba(0, 0, 0, 0.00) 0%, rgba(11, 26, 32, 1) 100%),
            linear-gradient(90deg, rgba(3, 7, 8, 1) 0%, rgba(3, 7, 8, 0.25) 20%, rgba(3, 7, 8, 0.00) 25%, rgba(3, 7, 8, 0.00) 75%, rgba(3, 7, 8, 0.25) 80%, rgba(3, 7, 8, 1) 100%),
            radial-gradient(76% 15% at 50% 80%, #5D94A7 0%, #467B8D 30%, #295D70 57.5%, #1D4451 80%, rgba(29, 68, 81, 0.54) 100%),
            #011e29;
        border-top: 3px solid #0e5064;
        background-attachment: fixed;
    }

    #designsContainer {
        height: calc(100vh - 300px);
        max-height: unset;
        bottom: unset;
        background: none;
        box-shadow: none;
        width: 350px;
        top: 140px;
        left: 20px'

    }

    .design-item {
        box-shadow: none;
        border-radius: 12px;
        margin: 8px 0;
        border: 1px solid rgba(15, 124, 187, 0.2);
    }

    .upload-item {
        background: transparent;
        border: 0;
        box-shadow: none;
    }



    .fab {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }

    #three-container {
        top: 0px;
    }

    #productTitle {
        font-size: 24px;
        margin-top: 20px;
    }

    .switch,
    .slider-control input[type="range"] {
        transform: scale(.85);
    }

    .slider-control input[type="range"],
    .switch {
        opacity: .75;
        transition: ease-in opacity 550ms;
    }

    .slider-control input[type="range"]:hover,
    .switch:hover {
        opacity: 1;
        transition: ease-out opacity 150ms;
    }

    .pcr-app[data-theme="nano"] {
        width: 14.25em;
        border-radius: 0 0px 8px 8px;
    }

    .drag-handle {
        display: flex;
        height: 20px;
        background: rgb(199 230 239);
        cursor: move;
        user-select: none;
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .drag-handle:after {
        position: relative;
        content: "drag_handle";
        font-family: 'Material Icons';
        display: block;
        font-size: 20px;
        width: 10px;
        height: 20px;
        color: #4a7380;
        margin: 0 auto;
    }

    .scrim {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }

    #hideOptions{
        display: flex;

        position: absolute;
        font-size: 20px;
        width: 40px;
        height: 32px;
        color: rgba(255, 255, 255, .5);
        top: 65px;
        right: 25px;
 padding:8px;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        background: transparent;
        border: 0px solid rgba(255, 255, 255, .5);
        border-radius: 6px;
    }
    #hideOptions:hover{
    color:rgba(255, 255, 255, 1)
    }
    #hideOptions:after{
        content: "arrow_circle_right";
        font-family: 'Material Icons';
        width: 40px;
        height: 32px;
        display: flex;
        align-self: center;
        align-items: center;
        vertical-align: middle;
    }

    #hideOptions.active:after{
        content:"arrow_circle_left";
        
    }


    #visualsContent,
    #addonsContent{
      transition: transform 0.3s ease;
    }
    
    /* When hidden, move the containers to the right */
    #visualsContent.hidden,
    #addonsContent.hidden {
      transform: translateX(323px);
    }
    
}