body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 65px;
    justify-content: space-around;
    background-color: #121212;
    color: #fff;
    border-top: 1px solid #fff;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    z-index: 16;
}

.nav-item {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.nav-item img {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

.nav-item span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

.nav-item.active img {
    filter: brightness(1.5);
}

.fab {
    background-color: orange;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    /* Initial bottom position to place above the secondary nav tabs */
    left: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* Ensure it is above other elements */
}

.fab img {
    height: 100%;
    width: 100%;
}



.content-container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 80px;
    /* Adjust this value to ensure the content stays above the navbar */
}

.logo-container {
    position: relative;
    margin: 16px auto 0;
}

.logo {
    max-width: 50px;
}

.right-top{
    width:50px;
    margin-right:16px;
}

.mobile-header {
    display: flex;
    flex-direction: row;
    background: #060808;
    justify-content: space-between;
}

.back-button {
    position: relative;
    margin:16px 0 0 16px;
    background-color: transparent;
    border: none;
    padding: 0px 16px;
    color: #fff;
    background:rgba(255,255,255,0.1);
    border-radius:8px;
    font-size: 16px;
    height:44px;
}


.model-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(80, 132, 151, 0.00) 0.09%, rgba(80, 132, 151, 0.50) 70.46%), radial-gradient(80% 20% at 40% 65%, #528698 0%, rgba(0, 0, 0, 0.00) 100%), #000;
    color: #aaa;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: auto;
}

.model-overlay {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.product-title {
    font-size: 1.3rem;
    margin: 10px;
    padding: 10px;
}


#optionsContainer {
    display: block;
    flex-direction: column;
    text-align: left;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    /* Hide overflow to avoid scrollbars during the transition */
    /* width: 100%; */
}

.fab {
    border-radius: 6px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FF8C37;
border: 1px solid #B36227;
box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.30) inset, 0px 5px 56px rgba(0, 0, 0, 0.45);

}

.fab img {
    height: 80%;
    width: 80%;
}

.mobile-header,
footer,
.navbar-bottom,
.second-level-nav,
#optionsContainer,
nav {
    z-index: 2;
    /* Ensure these elements are above the container */
}

.second-level-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    background-color: #142C3A;
    /* border-top: 1px solid #333; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    position: relative;
}


.second-level-nav:before,
.second-level-nav:after {
    font-size: 11px;
    padding: 4px 14px;
    display: block;
    width: auto;
    height: 16px;
    background-color: #142C3A;
    position: absolute;
    top: -13px;
    z-index: -1;
    border-radius: 16px 16px 0 0;
    border-top: 0px solid #333;
     -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%); 
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
}

.second-level-nav:before {
    content: "Coats";
    left: calc(25% - 26px);
}

.second-level-nav:after {
    content: "Options";
    right: calc(25% - 26px);
}

.nav-tab {
    padding: 0;
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
     background-color: transparent; 
    transition: background-color 1s, box-shadow 0.3s, color 0.2s;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    max-width: 90px;
    box-shadow: 0 0 20px 2px rgba(55, 207, 255, 0.0);
}

.nav-tab.active {
    background-color: #37CFFF;
    box-shadow: 0px 0px 8px 0px rgba(55, 207, 255, 0.80);
    color: #1E1E1E;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 10px;
    padding: 10px;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    background: #141419;
    box-sizing: border-box;
    cursor: grab;
}



.carousel::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */

}

.carousel.active,
.custom-content.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    user-select: none;
    /* Disable text selection in supported browsers */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
}

.carousel-item {
    min-width: 80px;
    margin-right: 4px;
    text-align: center;
    padding: 4px;
    /* background-color: #333; */
    border-radius: 10px;
}

.carousel-item img {
    width: 100%;
    max-width: 60px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.carousel-item p {
    margin-top: 0px;
    margin: 0;
    font-size: 12px;
    color: #aaa;
}

/* Custom content */
.custom-content {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    justify-content:flex-start;
    /* Center the swatches */
    pointer-events: auto;
    cursor: grab;

}

.color-container {
    padding: 5px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 15px;
    /* Add spacing between containers */
}

.color-swatch {
    width: 60px;
    /* Use consistent width for easier centering */
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    background-color: #333;
    border: 1px solid #fff;
    box-shadow: 0px 6px 8px 0px rgba(255, 255, 255, 0.25) inset, 0px -16px 8px 0px rgba(0, 0, 0, 0.15) inset;

}

.color-container span {
    margin-top: 5px;
    font-size: 12px;
    color: #aaa;
    text-align: center;
}

.slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.visuals-content {
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #141419;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.visuals-content.active {
    display: flex;
}

.slider-container {
    margin-bottom: 20px;
    width: 100%;
}

.slider-container label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

.slider-container input[type="range"] {
    width: 100%;
    margin-bottom: 5px;
}

.slider-container span {
    display: block;
    margin-top: 5px;
    color: #007bff;
    font-weight: bold;
}


.slider {
    margin: 0 10px;
    flex: 1;
}

.value-display {
    min-width: 100px;
    text-align: left;
}

/* Add-ons content */
.addons-content, .visuals-content, .presets-content, .custom-content {
    padding: 20px 24px 30px 24px;
    background-color: #141419;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 4px 8px -4px rgba(25, 124, 163, 0.5);
    margin-top: 20px;
    display: none;
}
.addons-content, .visuals-content{
flex-direction: column;
}
.presets-content {
    display: flex;
    flex-direction: row;
}

.addons-content.active {
    display: flex;
}

.addon-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Hide default checkbox */
.addon-item input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Create switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.track {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 4px;
}

.track:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 2px;
}

/* Checked state */
input:checked+.track {
    background-color: #007bff;
}

/* Move the toggle to the right when checked */
input:checked+.track:before {
    transform: translateX(20px);
}

.addon-item label {
    color: #fff;
    font-weight: bold;
}



.info-icon {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    padding: 0 2px 2px 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* Bottom sheet */
.bottom-sheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    /* Hide initially */
    height: 50%;
    /* Adjust height as needed */
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 0 0;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
    /* Ensure it's above other elements */
}

.bottom-sheet-content {
    padding: 20px;
    overflow-y: auto;
    /* Add scroll if content overflows */
    color: #000;
}

.bottom-sheet.show {
    bottom: 0;
    /* Slide up to reveal */
}

/* Info icons */
.info-icon {
    cursor: pointer;
    color: #007bff;
    margin-left: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.scrim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    /* Ensure it's behind the bottom sheet */
    display: none;
    /* Hidden by default */
}

.bottom-sheet.show~.scrim {
    display: block;
}


.vert-rule {
    display: block;
    position: relative;
    top: -8px;
    width: 4px;
    margin: 0;
    height: calc(100% + 1rem);
    background: rgba(0, 0, 0, 0.50);
}



/* ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
        z-index:1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
        z-index:1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
        z-index:4;
    }
    50% {
        transform: translateY(100%);
        opacity: 0;
        z-index:4;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        z-index:4;
    }
}

.slide-out {
    animation: slideOut 0.25s forwards;
}

.slide-in {
    animation: slideIn 0.35s forwards;
}